page-register {

    .line{display:block;}
    .line h5{text-align:center; border-bottom:1px solid gray; position:relative; }
    .line h5 span { background-color: white; position: relative; top: 10px; padding: 0 10px;}

}
