page-connection {

}

.alert-title {
  text-align: center;
  color: #ffaa3f;
}

.alert-button:last-child {
  background-color: #ffaa3f;
  color: #ffffff;
}

.alert-button:last-child:active {
  background-color: #ffaa3f;
  color: #ffffff;
}

.alert-button:first-child {
  background-color: #f2f2f2;
  color: #222;
}
